/* Write your CSS here */
.not-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.not-name {
  font-family: 'Bree Serif';
  font-size: 48px;
  font-weight: 800;
  color: #ffffff;
}
