/* Write your CSS here */
.app-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.title {
  font-family: 'Bree Serif';
  font-size: 48px;
  font-weight: 800;
  color: #ffffff;
}

.logo-image {
  height: 70px;
  width: 40px;
  margin-right: 12px;
}

.logo-container {
  display: flex;
  align-items: center;
}

.team-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
}
