/* Write your CSS here */
.latest-card {
  background-image: radial-gradient(#010407, #080808);
  width: 80%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 12px;
  padding: 30px;
}

.latest-heading {
  font-family: 'Bree Serif';
  font-size: 32px;
  font-weight: 600;
  color: #ffffff;
}

.date-match {
  font-family: 'Bree Serif';
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
}

.venue-match {
  font-family: 'Bree Serif';
  font-size: 14px;
  font-weight: 600;
  color: #ffffff;
}

.latest-innings {
  font-family: 'Bree Serif';
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
  text-align: right;
  margin-bottom: 4px;
}

.values-latest {
  font-family: 'Bree Serif';
  font-size: 12px;
  font-weight: 600;
  color: #ffffff;
  text-align: right;
  margin-bottom: 4px;
}
.left-holder {
  width: 250px;
  align-items: center;
  flex-grow: 1;
}

.latest-image {
  width: 150px;
  height: 200px;
  flex-grow: 1;
}

.right-holder {
  flex-grow: 1;
}

.venue {
  text-align: right;
}
